#reserve_container
{
  float: left;
  padding-top: 20px;
  border-top: 1px solid #fff;
  -moz-box-shadow:    0 -1px 0 #cbcbcb; /* drop shadow */
  -webkit-box-shadow: 0 -1px 0 #cbcbcb; /* drop shadow */
  box-shadow:         0 -1px 0 #cbcbcb; /* drop shadow */
  margin-top: 30px;
  text-align: center;
  p
  {
    color: #8b8a8a;
    font-size: 18px;
    line-height: 1.4;
  }
  #ship_date
  {
    color: #4c4c4c;
    font-size: 22px;
    font-family: $primary_font, $secondary_font, $tertiary_font;
    line-height: 1.3;
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  #price
  {
    color: #4c4c4c;
    font-size: 22px;
    font-family: $primary_font, $secondary_font, $tertiary_font;
    line-height: 1.3;
    display: block;
    margin: 0 auto 10px auto;
    width: 345px;
  }
}
.reserve
{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0;
  width: 274px;
  font-size: 32px;
}

#middle_reserve
{
  padding: 60px;
  h2
  {
    margin-bottom: 26px;
  }
}
