.big_wrapper {
  border-bottom: 1px solid #d2d2d2;
  background: #fff;
}
.big_wrapper .wrapper {
  padding: 35px 0;
}

.point_copy {
  width: 520px;
  h3 {
    margin: 20px 0 30px 0;
  }
}

h3 {
  font-size: 42px;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  color: #292929;
  line-height: 1.3;
}

.point_copy p, #other_points li p {
    line-height: 1.5;
}

#one {
  background: url(image_path("1-background.png")) no-repeat bottom left;
  height: 320px;
  width: 936px;
}

#two {
  background: url(image_path("2-background.png")) no-repeat bottom left;
  height: 320px;
}

#three {
  background: url(image_path("3-background.png")) no-repeat bottom left;
  height: 320px;
}

#four {
  background: url(image_path("4-background.png")) no-repeat bottom left;
  height: 320px;
}

.right {
  margin-left: 500px;
}
