#other_points 
{
  li 
  {
    width: 400px;
    float: left;
    margin: 0 120px 50px 0;
    padding-top: 85px;
  }
  #section-1 {
    background: url(asset-path("transportation.png", "images")) no-repeat center top;
  }
  #section-2 {
    background: url(asset-path("mickeymouse.png", "images")) no-repeat center top;
    margin-right: 0px;
  }
  #section-3 {
    background: url(asset-path("bed.png", "images")) no-repeat center top;
  }
  #section-4 {
    background: url(asset-path("food.png", "images")) no-repeat center top;
    margin-right: 0px;
  }
  h4 {
    width: 400px;
    text-align: center;
  }
}