<div class="big_wrapper">
  <div class="wrapper" id="one">
	<div class="point_copy">
	  <h3>
		Who is Jake?
	  </h3>
	  <p>
		Jake is a self described Developer, Sports Fan, Political Observer, Occasional Deep Thinker. He worked at Vivint, and was a beloved friend, co-worker, father, brother, husband and son. Read his blog here: <a href="http://thabaddawg.com">thabaddawg.com</a> to learn more about him and his battle with a rare cancer.
	  <p>
	</div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
	<div class="point_copy right">
	  <h3>
		Who are you?
	  </h3>
	  <p>
		We are Jake’s co-workers. Fellow developers from the Software Development department at Vivint.
	  <p>
	</div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
	<div class="point_copy">
	  <h3>
		Why raise money… Again...
	  </h3>
	  <p>
		We know that there was another fundraiser to help support Jake’s family. We believe that money will do wonders to help Jake’s family meet their everyday needs. But vacations are expensive and we wanted to help this family get a break and spend time together in a joyful way.
	  <p>
	</div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
	<div class="point_copy right">
	  <h3>
		Isn’t your goal a little high?
	  </h3>
	  <p>
		Yes. And here’s why: we would like to provide Jake’s widow and children with a few options: Disneyland (in California) or Disneyworld, Epcot, Universal Studios, etc. (in Florida). We’d also like to provide them with the ability to bring a second adult to help, if they’d like. For more details, see below.
	  <p>
	</div>
  </div>
</div>
