<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Transportation</h4>
      <p>
        Flight for 2 adults, 3 children to California will cost approximately $1500. Flight for 2 adults, 3 children to Florida, will cost approximately $2100.
        We also figured in about $300 for “other transportation”.
      </p>
    </li>
    <li id="section-2">
      <h4>Theme Parks</h4>
      <p>
        Admission to Disneyland for 2 adults and 3 children: $1200 (2 year old is free!)
        Admission to Disneyworld for 2 adults and 3 children: $1200 (2 year old is free!)
        Admission to Universal Studios for 2 adults and 3 children: 
        You get the idea…
      </p>
    </li>
    <li id="section-3">
      <h4>Lodging</h4>
      <p>
        Hotel accommodation for 2 adults and 3 children  on site at Disneyland, will cost approximately $3500.
        Hotel accommodation for 2 adults and 3 children  on site at Disneyworld, will cost approximately $3500.
      </p>
    </li>
    <li id="section-4">
      <h4>Food & Fun</h4>
      <p>
        Breakfast, Lunch & Dinner for 2 adults and 3 children for 7 days.
        Don’t forget the fun snacks, treats and souvenirs! Estimated: $1000.
      </p>
    </li>
  </ul>
</div>
