<div class="sidebar">
  <h5>When will I be charged?</h5>
  <p>
Your card will be processed immediately. The transaction will show up a "Gift to Newren Family".
  </p>
    <h5>This is not a Charity</h5>
  <p>
We are not a 501c3 so you can't get a tax deductions for your gift. What you do get is the satisfaction of giving the gift of fun to a family in need of some smiles.
  </p>
</div>