<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="main_content <%= "payment_options" if Settings.use_payment_options %>">
      <h3>Check out</h3>
      <p>
        All of your payment information will be secured and stored with Stripe. We do not store any of your payment information.
        <br />
        <br />
  
  <form action="/preorder/prefill" method="POST" id="payment-form">
    <span class="payment-errors"></span>

   <div class="form-row">
      <label>
        <span>Amount</span>
        <input type="text" placeholder='$100.00' id='amount' name='amount' size="20" data-stripe="amount"/>
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>Name on Card</span>
        <input type="text" size="20" placeholder='First Last'  data-stripe="name"/>
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>Card Number</span>
        <input type="text" size="20" id='number' placeholder='•••• •••• •••• ••••'  data-stripe="number"/>
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>CVC</span>
        <input type="text" size="4" data-stripe="cvc"/>
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>Expiration (MM/YYYY)</span>
        <input type="text" size="2" data-stripe="exp-month"/>
      </label>
      <span> / </span>
      <input type="text" size="4" data-stripe="exp-year"/>
    </div>
    <button type="submit" class="blue_button" id="amazon_button">Submit Payment</button>
  </form>
      </p>
    </div>
    <%= render 'preorder/checkout/sidebar' %>
  </div>
</div>
