<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="main_content <%= "payment_options" if Settings.use_payment_options %>">
      <h3>Thank You</h3>
      <p>
        <% if @error %>
          <pre>
            <div class='error_message'>
              <%= @error[:message] %>

            </div>
            <%= @error.inspect %>
          </pre>
        <% end %>
      </p>
    </div>
    <%= render 'preorder/checkout/sidebar' %>
  </div>
</div>
