<%= render 'preorder/homepage/show_dont_tell' %>  
<%= render 'preorder/homepage/key_points' %>
<%= render 'preorder/homepage/other_points' %>
<%= render 'preorder/homepage/middle_reserve' %>  
<%= render 'preorder/homepage/press' %>