<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title><%= Settings.product_name %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
  <!-- The required Stripe lib -->
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>


  <script type="text/javascript">
    Stripe.setPublishableKey('<%= STRIPE_PUBLIC_KEY %>');
    
  jQuery(function($) {
  $('#payment-form').submit(function(event) {

    var $form = $(this);

    // Disable the submit button to prevent repeated clicks
    $form.find('button').prop('disabled', true);

    Stripe.createToken($form, stripeResponseHandler);

    // Prevent the form from submitting with the default action
    return false;
  });
});

  var stripeResponseHandler = function(status, response) {
    var $form = $('#payment-form');

    if (response.error) {

      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // token contains id, last4, and card type
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      var amount = $('#amount').val(),
      amount = numeral().unformat(amount);
      $('#amount').val(amount);

      var number = $('#number').val(),
      number = numeral().unformat(number);
      $('#number').val(number);

      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit

      $form.get(0).submit();
    }
  };

  </script>

  </head>
  <!--[if lt IE 9 ]><body class="lt-ie9"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body><!--<![endif]-->
    <%= render 'preorder/header' %>
    <%= yield %>
    <%= render 'preorder/footer' %>
  </body>
</html>
